
<div class="row">
  <div class="col s12">
    Meetings
    <table class="striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Remarks </th>
        </tr>
      </thead>
      <tbody>
        <%= render @meetings %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="fixed-action-btn">
    <%= link_to material_icon.add, new_subject_meeting_path(@subject), class:"btn-floating btn-large red" %>
  </div>
</div>
