Subjects
<table>
  <thead>
    <tr>
      <th> Course Code </th>
      <th> Course Name </th>
      <th> Section </th>
    </tr>
  </thead>
  <tbody>
    <%= render @subjects %>
  </tbody>
</table>

<%= link_to "Add", new_user_subject_path(current_user) %>

<%= link_to "Meetings", subject_meetings_path(current_user) %>
