Attendance for <%=@meeting.meeting %>
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th> ID Number </th>
          <th> Name </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial:"student", collection: @students, meeting: @meeting %>
      </tbody>
    </table>
  </div>
</div>
